BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false 
  AfterClass: false
  AfterControlStatement: Never
AllowShortFunctionsOnASingleLine: None
IndentWidth: 4
AlignAfterOpenBracket: Align
ColumnLimit: 0
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakAfterDefinitionReturnType: All
